---
layout: page
title: Fusion Systems
permalink: /products/fusion-systems/
---

<div class="header--padding"></div>

<section class="products">
  <div class="container">
    <div class="inner">
      <h1>{{ page.title }}</h1>
      <h2 class="mini-margin">Hot Splice</h2>
      <div class="content flex flex-wrap flex-between mini-margin">
        {% for post in site.fusion_systems %}
          {% if post.categories contains "hot-splice" %}
            <div class="item mini-margin" data-aos="fade-up" data-aos-duration="600">
              <div class="cover micro-margin">
                <img src="{{ post.image }}" alt="">
              </div>
              <h3 class="flush--top micro-margin"><a href="{{ post.url }}">{{ post.title }}</a></h3>
              {{ post.short_desc | markdownify }}
              <p><a class="bttn bttn--transparent" href="{{ post.url }}">Read More</a></p>
            </div>
            {% endif %}
        {% endfor %}
      </div>
      <h2 class="mini-margin">HDPE Rollers</h2>
      <div class="content flex flex-wrap flex-between mini-margin">
        {% for post in site.fusion_systems %}
          {% if post.categories contains "hdpe-rollers" %}
            <div class="item mini-margin" data-aos="fade-up" data-aos-duration="600">
              <div class="cover micro-margin">
                <img src="{{ post.image }}" alt="">
              </div>
              <h3 class="flush--top micro-margin"><a href="{{ post.url }}">{{ post.title }}</a></h3>
              {{ post.short_desc | markdownify }}
              <p><a class="bttn bttn--transparent" href="{{ post.url }}">Read More</a></p>
            </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
