---
layout: vulcanizing-machine
title: Vulcanizing Machine
permalink: /vulcanizing-machine/light-weight-belt/
order: 1
---

{% for post in site.vulcanizing_machine %}
  {% if post.categories contains "light-weight-belt" %}
    <article>
      <div class="cover">
        <img src="{{ post.image }}" alt="">
      </div>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.short_desc | markdownify }}
      <p><a class="bttn" href="{{ post.url }}">Read More</a></p>
    </article>
  {% endif %}
{% endfor %}
