@font-face {
  font-family: 'Moriston Regular';
  src: url('/assets/css/sass/fonts/MoristonPersonal-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Moriston Bold';
  src: url('/assets/css/sass/fonts/MoristonPersonal-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Moriston Light';
  src: url('/assets/css/sass/fonts/MoristonPersonal-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Moriston Black';
  src: url('/assets/css/sass/fonts/MoristonPersonal-Black.otf') format('opentype');
}
@font-face {
  font-family: 'Moriston Semibold';
  src: url('/assets/css/sass/fonts/MoristonPersonal-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'Moriston Medium';
  src: url('/assets/css/sass/fonts/MoristonPersonal-Medium.otf') format('opentype');
}
