#site-header
  background-color: #fff
  z-index: 1000
  // box-shadow: 0 2px 4px rgba(0,0,0,0.2)
  border-bottom: 1px solid #ddd
  padding: 10px 0
  @media screen and (min-width: 800px)
    position: fixed
    top: 0
    left: 0
    right: 0
  .container
    max-width: 1200px

  #site-logo
    @media screen and (max-width: 600px)
      max-width: 100px

#mobile-site-navigation
  display: none

  &.active
    display: block
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: #fff
    z-index: 1000

  .menu
    list-style: none
    font-size: 1.5rem
    text-align: center
    padding-left: 0
    > p
      letter-spacing: 1px
      color: #ccc
    > a
      display: block
      text-decoration: none
      color: #7b7b7b
      padding: 10px

      &:hover
        color: $eggplant-color
      &.active
        color: $eggplant-color
#site-navigation
  @media screen and (max-width: 600px)
    display: none
  ul.menu
    list-style: none
    padding-left: 0
    text-align: center
    margin-top: 0
    margin-bottom: 0

    a
      display: inline-block
      text-decoration: none
      letter-spacing: 1px
      font-style: normal
      padding: 1rem 12px
      color: #333
      outline: 0

      &:hover
        color: $eggplant-color
      &:active

      &.active
        color: $eggplant-color

.submenu
  background-color: #eee
  border-radius: #eee
  padding: 0.5rem 1rem
  font-size: 15px
  border: 1px solid #dcdcdc
  border-radius: 2px
  a
    color: #666
    font-size: 15px
    display: inline-block

    &.active
      color: $link-color

#mobile-nav-button
  z-index: 1100
  display: block
  @media (min-width: 600px)
    display: none
  width: 60px
  .rect
    stroke-width: 0
    stroke: $eggplant-color
    fill: transparent
    transform-origin: 50% 50%
    transition: all 0.3s ease-in-out
    transform: rotate(0deg)


  .cross-line
    stroke: #444
    stroke-width: 0
    transform-origin: 50% 50%
    transition: all 0.3s ease-in-out

  .nav-line
    stroke: #444
    transform-origin: 50% 50%
    stroke-width: 2px
    transition: all 0.3s ease-in-out

  &:hover
    .rect
      stroke-width: 1
      transform: rotate(45deg)

    .nav-line
      transform: scale(0.5)

    #nav-line-1
      transform: translateY(10px) scale(0.5)


    #nav-line-3
      transform: translateY(-10px) scale(0.5)


  &.active
    .cross-line
      stroke-width: 2
      transform: scale(0.8)

    .nav-line,#nav-line-1,#nav-line-3
      transform: scale(0.01)


    &:hover
      .cross-line
        transform: scale(0.6)
