---
layout: lamination-presses
title: Lamination Presses
permalink: /lamination-presses/3d-vaccume-formers/
order: 1
---

{% for post in site.lamination_presses %}
  {% if post.categories contains "3d-vaccume-formers" %}
  <article>
    <div class="cover">
      <img src="{{ post.image }}" alt="">
    </div>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.short_desc | markdownify }}
    <p><a class="bttn" href="{{ post.url }}">Read More</a></p>
  </article>
  {% endif %}
{% endfor %}
