<footer id="site-footer">
  <div class="container">
    <div class="flex flex-ycenter palm-flex-column">
      <div class="l--l"></div>
      <div class="l--c">
        <p>Shaw Almex India Pvt. Ltd., Plot No.49, Sector-27C, Faridabad-121003, India.
        <br>Phone: +91-129-2258676, +91-129-2274624     Fax: +91-129-2275567.
        <br>email:shaw@almexindia.com</p>

        <p><small>Copyright © 2010 Shaw Almex Pvt. Ltd an Almex Group Company. All rights reserved.</small></p>
      </div>
      <div class="l--r"></div>
    </div>
  </div>
</footer>
