<footer id="site-footer">
  <div class="container" style="max-width:1200px">
      <div class="inner flex portable-flex-column">
        <div>
          <span><img src="/assets/images/logo.png" alt=""></span>
        </div>
        <div>
            <p>Shaw Almex India Pvt. Ltd., <br>Plot No.49, Sector-27C, <br>Faridabad-121003, India.
            <br>Phone: +91-129-2258676, +91-129-2274624     <br>Fax: +91-129-2275567.
            <br>email: <a href="mailto:shaw@almexindia.com">shaw@almexindia.com</a></p>
        </div>
        <div>
          <p>Shaw Almex India Pvt. Ltd.</p>
          <p>
            <span><img width="100px" src="/assets/images/conveyor-belt-vulcanizers.jpg" alt=""></span>
            <span><img width="100px" src="/assets/images/repair-products.png" alt=""></span>
            <span><img width="100px" src="/assets/images/aerospace-and-industrial.jpg" alt=""></span>
          </p>
        </div>
      </div>
      <div>
        <p><small>Copyright © 2010 Shaw Almex Pvt. Ltd an Almex Group Company. All rights reserved.</small></p>
      </div>
  </div>
</footer>
