<header id="site-header">
  <div class="container">
    <div class="inner flex flex-between flex-ycenter">
      <div id="site-logo">
        <a href="/"><img src="/assets/images/logo.png" alt=""></a>
      </div>
      <nav id="site-navigation">
          <ul class="menu">
            <a class="{% if page.url contains 'products' %} active {% endif %}" href="{{ "/products/" | absolute_url }}">Our Products</a>
            <a class="{% if page.url contains 'case-studies' %} active {% endif %}" href="{{ "/case-studies/" | absolute_url }}">Case Studies</a>
            <a class="{% if page.url contains 'about-us' %} active {% endif %}" href="{{ "/about-us/" | absolute_url }}">About Us</a>
            <a class="{% if page.url contains 'contact-us' %} active {% endif %}" href="{{ "/contact-us/" | absolute_url }}">Contact Us</a>
          </ul>
      </nav>
    </div>
  </div>
</header>
