---
layout: page
---

<p class="submenu"> Categories:
  <a href="/vulcanizing-machine/heavy-duty-splicing-press/" class="{% if page.url contains "heavy-duty-splicing-press" %} active {% endif %}">Heavy Duty Splicing Press</a>,
  <a href="/vulcanizing-machine/light-weight-belt/" class="{% if page.url contains "light-weight-belt" %} active {% endif %}">Light Weight Belt</a>,
  <a href="/vulcanizing-machine/heavy-duty-repair-press/" class="{% if page.url contains "heavy-duty-repair-press" %} active {% endif %}">Heavy Duty Repair Press</a>
</p>
{{ content }}
